*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
}

.header-menu
{
    display: flex;
    justify-content: space-around;
    
}

.btn-menu
{
    background-color: burlywood;
    margin-top: 8px;
    padding: 12px 10px;
    border: none;
    border-radius: 10%;
}

.btn-menu a
{
    text-decoration: none;
    color: black;
}

main
{
    width: 100%;
}

.container-quadbike
{
    display: flex;
    justify-content: center;
    width: 100%;
}


.container-quadbike img
{

    padding-top: 16px;
    width: 40%;
    min-width: 250px;
}