*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

.header-menu
{
    display: flex;
    justify-content: space-around;
    
}

.btn-menu
{
    background-color: rgb(20, 78, 80);
    
    margin-top: 8px;
    padding: 12px 10px;
    border: none;
    border-radius: 10%;
}

.btn-menu a
{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

main
{
    width: 100%;
}

.main-form
{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.main-form ul
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 200, 126);
    border-radius: 6px;
    border-style: dashed;
    border-color: rgb(20, 78, 80);
    font-size: 1.5rem;
    font-weight: 500;
    min-width: 260px;
}

.main-form ul li
{
    padding: 6px 0px;
    
    list-style: none;
}

.main-form .input-form
{
    margin: 4px 0px;
    padding: 5px 5px;
    background-color: white;
    border: none;
    border-radius: 3px;
}

.main-form .input-message
{
    height: 60%;
    margin-bottom: 6px;
}

.container-btn
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.container-btn button
{
    padding: 4px 4px;
    margin: 6px 6px;
    margin-bottom: 8px;
    border: 1.5px solid gray;
    border-radius: 4px;
    background-color: rgb(20, 78, 80);
    color: white;
    font-weight: 600;
   
}

.container-btn .btn-visualize
{
    background-color: rgb(238, 208, 56);
}

.container-btn .btn-register
{
    background-color: rgb(78, 205, 78);
}

.container-btn .btn-update
{
    background-color: rgb(39, 156, 199);
}

.container-btn .btn-erase
{
    background-color: rgb(211, 58, 58);
}

.container-quadbike
{
    display: flex;
    justify-content: center;
    width: 100%;
}


.container-quadbike img
{

    padding-top: 16px;
    width: 40%;
    min-width: 250px;
}

.show-results
{
    display: flex;
    justify-content: center;
    text-justify: auto;
}